#landing{
    background: rgb(132,129,255);
    background: linear-gradient(45deg, rgba(132,129,255,1) 0%, rgba(46,241,253,1) 38%, rgba(4,48,161,1) 100%);
    background: radial-gradient(circle, rgba(1,240,255,1) 38%, rgba(0,102,255,1) 100%);
    background: radial-gradient(top, rgba(1,240,255,1) 38%, rgba(0,102,255,1) 100%);

    width: 100vw;
    height: 100vh;
}
#landing-img{
    width: 100vw;
    height: 100vh;
    position: absolute;

    top: 10vh;
    left: 0;
    
    align-self: end;

    margin: none;
    padding: none;
}