*{
    transition-duration: 400ms;
}

.container{
    display: flex;
}

.centered{
    margin: auto;
}

.product-cards{
    height: 412px;
    width: 322px;
    border-radius: 30px;

    border: 2px solid #F2F2F2;
    align-items: center;
    margin: 1em;
}

.product-cards:hover{
    box-shadow: 0px 4px 50px rgba(120, 143, 156, 0.25);
}

.product-cards img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 0px;

}

.name{
    font-family: Google Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: center;
}

.price{
    font-family: Google Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    background: -webkit-linear-gradient(90deg, #75CCEB 0%, #6FB4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-cards button{
    width: 180px;
    height: 56px;
    border: none;
    border-radius: 18px;
    background-color: white;

    font-family: Google Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.btn-p{
    background: -webkit-linear-gradient(90deg, #75CCEB 0%, #6FB4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.border{
    width: 186px;
    height: 62px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(90deg, #75CCEB 0%, #6FB4FF 100%);
    margin-top: 30px;
}