.product{
    background: #FFFFFF;
    position: absolute;
    top: 20vh;
    left: 55vw;
    z-index: 10;

    box-shadow: 0px 4px 50px rgba(120, 143, 156, 0.75);
    border-radius: 50px;
}

.product img{
    margin-left: 2em;
    margin-right: 2em;
    width: 25vw;
    height: 50vh;      
}

#price{
    color: #317189;
    font-weight: 700;
}

.product p {
    text-align: center;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #818181;
    margin-top: 0;
}