.menu-item{
    color: white;
    font-family: Google Sans;
    font-size: 16px;
    line-height: 30px;
    margin-left: 2em;
}
.menu{
    display: flex;
    left: 10vw;
    justify-content: center;
}

.logo {
    width: 150px;
}

#basket{
    width: 50px;
    justify-self: end;
}

#header{
    justify-content: space-between;
    margin: 1em;
    align-items: center;
    display: flex;

    margin-left: 3vw;
    margin-right: 3vw;
}